@font-face{
    font-family: 'Circular';
    src: url('../fonts/circular/CircularStd-Book.woff') format("woff");
    font-weight: 400;
}

@font-face{
    font-family: 'Circular';
    src: url('../fonts/circular/CircularStd-Medium.woff') format("woff");
    font-weight: 500;
}

@font-face{
    font-family: 'Circular';
    src: url('../fonts/circular/CircularStd-Bold.woff') format("woff");
    font-weight: 600;
}

@font-face{
    font-family: 'Circular';
    src: url('../fonts/circular/CircularStd-Black.woff') format("woff");
    font-weight: 700;
}