// @import '~aos/dist/aos.css';

$colorGray : #32444B;

html{
    scroll-behavior: smooth;
    margin: 0;
}

#button {
    display: inline-block;
    background-color: $colorGray;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
        opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}


#button:active {
    background-color: #555;
}

#button.show {
    opacity: 1;
    visibility: visible;
}

body{
    .chart-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 125px;
        width: 100%;
    }
    #chart-usia-responden {
        .label{
            span{
                &:last-child:after{
                    content: ' ';
                    position: absolute;
                    top: 1.5rem;
                    bottom: 0;
                    width: 1px;
                    background-color: $colorGray;
                    opacity: 50%;
                    right: 0;
                }
            }
        }

        .label-2{
            span{
                &:nth-child(3):after{
                    content: ' ';
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 1.5rem;
                    left: 0;
                    width: 1px;
                    background-color: $colorGray;
                    opacity: 50%;
                    margin: 0 auto;
                }
                &:nth-child(4):after{
                    content: ' ';
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 1.5rem;
                    left: 0;
                    width: 1px;
                    background-color: $colorGray;
                    opacity: 50%;
                    margin: 0 auto;
                }
                &:nth-child(5):after{
                    content: ' ';
                    position: absolute;
                    top: 0;
                    right: 1.5rem;
                    bottom: 1.5rem;
                    width: 1px;
                    background-color: $colorGray;
                    opacity: 50%;
                }
                &:nth-child(6):after{
                    content: ' ';
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 1.5rem;
                    width: 1px;
                    background-color: $colorGray;
                    opacity: 50%;
                }
            }
        }
    }

    #chart-work-responden{
        .label{
            span.label-1{
                &:nth-child(5):after{
                    content: ' ';
                    position: absolute;
                    top: 1rem;
                    right: 0;
                    bottom: 0rem;
                    left: 0;
                    width: 1px;
                    background-color: $colorGray;
                    opacity: 50%;
                    margin: 0 auto;
                }
                &:nth-child(6):after{
                    content: ' ';
                    position: absolute;
                    top: 1rem;
                    right: 0;
                    bottom: 0rem;
                    left: 0;
                    width: 1px;
                    background-color: $colorGray;
                    opacity: 50%;
                    margin: 0 0 0 1.25rem;
                }
                &:nth-child(7):after{
                    content: ' ';
                    position: absolute;
                    top: 1rem;
                    right: 0;
                    bottom: 0rem;
                    left: 0;
                    width: 1px;
                    background-color: $colorGray;
                    opacity: 50%;
                    margin: 0 0 0 1.25rem;
                }
            }
        }
    }
}

.navigation ul li.active span.border-active{
    -webkit-animation: slide-in-elliptic-left-fwd 0.5s ease-in-out both;
    animation: slide-in-elliptic-left-fwd 0.5s ease-in-out both;
}

.navigation-mobile{
    &.show{
        ul.nav-mobile-item {
            display: flex;
        }
    }
    ul.nav-mobile-item{
        display: none;
    }
}

.slide-in-elliptic-left-fwd {
    -webkit-animation: slide-in-elliptic-left-fwd 0.5s ease-in-out both;
    animation: slide-in-elliptic-left-fwd 0.5s ease-in-out both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-3-18 12:23:50
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * @animation slide-in-elliptic-left-fwd 
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-elliptic-left-fwd {
    0% {
        -webkit-transform: translateX(-800px) rotateY(30deg) scale(0);
        transform: translateX(-800px) rotateY(30deg) scale(0);
        -webkit-transform-origin: -100% 50%;
        transform-origin: -100% 50%;
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0) rotateY(0) scale(1);
        transform: translateX(0) rotateY(0) scale(1);
        -webkit-transform-origin: 1800px 50%;
        transform-origin: 1800px 50%;
        opacity: 1;
    }
}

@keyframes slide-in-elliptic-left-fwd {
    0% {
        -webkit-transform: translateX(-800px) rotateY(30deg) scale(0);
        transform: translateX(-800px) rotateY(30deg) scale(0);
        -webkit-transform-origin: -100% 50%;
        transform-origin: -100% 50%;
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0) rotateY(0) scale(1);
        transform: translateX(0) rotateY(0) scale(1);
        -webkit-transform-origin: 1800px 50%;
        transform-origin: 1800px 50%;
        opacity: 1;
    }
}
