@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    html, body{
        @apply font-circular text-gray-darkend;
    }

    p.content__subs{
        @apply m-0 text-lg font-semibold leading-none w-80;
    }

    .logo {
        @apply absolute top-16 sm:top-10 right-0 block w-72;
    }

    .navigation ul li{
        @apply max-w-210px h-full flex justify-center items-center relative;
    }

    .navigation ul li a{
        @apply mx-4;
    }

    .navigation ul li.active span.border-active{
        @apply block;
    }

    .navigation.nav-fixed{
        @apply fixed inset-x-0 top-0 w-full;
    }

    .navigation.nav-fixed ul li a{
        @apply text-center;
    }
}